* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url("Images/bg.jpeg");
    height: 80vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1500px, 100vw);
}

.main .box {
    width: 100%;
    height: 80vh;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    top: 0;

}

nav {
    display: flex;
    align-items: center;
    max-width: 80vw;
    margin: auto;
    justify-content: space-between;
    height: 90px;
    position: inherit;
}

nav img,
button {
    position: relative;
    z-index: 10;
}

.main .hero {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: calc(100% - 150px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 30px;
    text-align: center;
}

.hero> :first-child {
    font-weight: 900;
    font-size: 48px;
}

.hero> :nth-child(2) {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 15px;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 16px;
}

.line {
    background-color: rgb(48, 46, 46);
    height: 6px;
}

button {
    padding: 3px 8px;
    font-weight: bold;
    border-radius: 4px;
}

#btn {
    background-color: red;
    color: white;
    font-size: 17px;
    padding: 10px 16px;

}

#btn-s {
    background-color: red;
    color: white;
}

input {
    padding: 10px 16px;

}